.Rproj.user
.Rhistory
.RData
.Ruserdata
*.js
*.css
*.png
*.woff
*.ttf
data/2018-06-15_lgh_sick-call-data-updated.xlsx
*.xlsx

results/
data/
docs/
src/02_ed-visits-forecasting_files
src/02_ed-visits-forecasting_validation_files
src/03_ed-visits-forecasting_files